# coding: utf-8

"""
    IO-AMR GWM API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

    The version of the OpenAPI document: devel
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from datetime import datetime

from pydantic import Field, StrictBool, StrictFloat, StrictInt, StrictStr, conlist, validator

from typing import List, Optional, Union

from gwm.models.activate_work import ActivateWork
from gwm.models.activate_work_request import ActivateWorkRequest
from gwm.models.patched_work_external_update_request import PatchedWorkExternalUpdateRequest
from gwm.models.patched_work_internal_update_request import PatchedWorkInternalUpdateRequest
from gwm.models.work import Work
from gwm.models.work_external_update import WorkExternalUpdate
from gwm.models.work_internal_update import WorkInternalUpdate
from gwm.models.work_request import WorkRequest

from gwm.api_client import ApiClient
from gwm.api_response import ApiResponse
from gwm.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class WorksAppWorksV2Api:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def v2_work_activate_create(self, activate_work_request : ActivateWorkRequest, **kwargs) -> ActivateWork:  # noqa: E501
        """Activate work  # noqa: E501

        Activate work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_activate_create(activate_work_request, async_req=True)
        >>> result = thread.get()

        :param activate_work_request: (required)
        :type activate_work_request: ActivateWorkRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ActivateWork
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_activate_create_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_activate_create_with_http_info(activate_work_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_activate_create_with_http_info(self, activate_work_request : ActivateWorkRequest, **kwargs) -> ApiResponse:  # noqa: E501
        """Activate work  # noqa: E501

        Activate work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_activate_create_with_http_info(activate_work_request, async_req=True)
        >>> result = thread.get()

        :param activate_work_request: (required)
        :type activate_work_request: ActivateWorkRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(ActivateWork, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'activate_work_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_activate_create" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['activate_work_request'] is not None:
            _body_params = _params['activate_work_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "ActivateWork",
        }

        return self.api_client.call_api(
            '/v2/work/activate', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_clear_all_destroy(self, **kwargs) -> None:  # noqa: E501
        """Clear all works  # noqa: E501

        Manage Works  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_clear_all_destroy(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_clear_all_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_clear_all_destroy_with_http_info(**kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_clear_all_destroy_with_http_info(self, **kwargs) -> ApiResponse:  # noqa: E501
        """Clear all works  # noqa: E501

        Manage Works  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_clear_all_destroy_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_clear_all_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v2/work/clear_all', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_create(self, work_request : WorkRequest, **kwargs) -> Work:  # noqa: E501
        """Create A Work  # noqa: E501

        Create A Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_create(work_request, async_req=True)
        >>> result = thread.get()

        :param work_request: (required)
        :type work_request: WorkRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Work
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_create_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_create_with_http_info(work_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_create_with_http_info(self, work_request : WorkRequest, **kwargs) -> ApiResponse:  # noqa: E501
        """Create A Work  # noqa: E501

        Create A Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_create_with_http_info(work_request, async_req=True)
        >>> result = thread.get()

        :param work_request: (required)
        :type work_request: WorkRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Work, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'work_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_create" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['work_request'] is not None:
            _body_params = _params['work_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '201': "Work",
        }

        return self.api_client.call_api(
            '/v2/work', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_destroy(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], force : Annotated[Optional[StrictBool], Field(description="Force the deletion of the work")] = None, **kwargs) -> None:  # noqa: E501
        """Cancel or force Delete Work  # noqa: E501

        Cancel or force Delete Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_destroy(id, force, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param force: Force the deletion of the work
        :type force: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_destroy_with_http_info(id, force, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_destroy_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], force : Annotated[Optional[StrictBool], Field(description="Force the deletion of the work")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Cancel or force Delete Work  # noqa: E501

        Cancel or force Delete Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_destroy_with_http_info(id, force, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param force: Force the deletion of the work
        :type force: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'id',
            'force'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        if _params.get('force') is not None:  # noqa: E501
            _query_params.append(('force', _params['force']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v2/work/{id}', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_internal_update_partial_update(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], patched_work_internal_update_request : Optional[PatchedWorkInternalUpdateRequest] = None, **kwargs) -> WorkInternalUpdate:  # noqa: E501
        """Internal Update Work  # noqa: E501

        Internal Update Work (do not use this, this is for internal updates only)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_internal_update_partial_update(id, patched_work_internal_update_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param patched_work_internal_update_request:
        :type patched_work_internal_update_request: PatchedWorkInternalUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: WorkInternalUpdate
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_internal_update_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_internal_update_partial_update_with_http_info(id, patched_work_internal_update_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_internal_update_partial_update_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], patched_work_internal_update_request : Optional[PatchedWorkInternalUpdateRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Internal Update Work  # noqa: E501

        Internal Update Work (do not use this, this is for internal updates only)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_internal_update_partial_update_with_http_info(id, patched_work_internal_update_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param patched_work_internal_update_request:
        :type patched_work_internal_update_request: PatchedWorkInternalUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(WorkInternalUpdate, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id',
            'patched_work_internal_update_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_internal_update_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_work_internal_update_request'] is not None:
            _body_params = _params['patched_work_internal_update_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "WorkInternalUpdate",
        }

        return self.api_client.call_api(
            '/v2/work/{id}/internal_update', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_list(self, activated_at_after : Optional[datetime] = None, activated_at_before : Optional[datetime] = None, application_data : Annotated[Optional[StrictStr], Field(description="filter by application_data query")] = None, assigned_agent : Annotated[Optional[conlist(Union[StrictFloat, StrictInt])], Field(description="filter by work assigned to any agents with ids")] = None, batch : Optional[conlist(StrictStr)] = None, created_at_after : Annotated[Optional[datetime], Field(description="filter works created after given timestamp")] = None, created_at_before : Annotated[Optional[datetime], Field(description="filter works created before given timestamp")] = None, cut_off_time_after : Annotated[Optional[datetime], Field(description="filter works cut off time after given timestamp")] = None, cut_off_time_before : Optional[datetime] = None, id : Annotated[Optional[conlist(Union[StrictFloat, StrictInt])], Field(description="filter works by ids")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="User provided names eg: `mywarehouse_move_2021-05-11T12:05:27Z`")] = None, ordering : Annotated[Optional[StrictStr], Field(description="Which field to use when ordering the results.")] = None, page : Annotated[Optional[StrictInt], Field(description="Page number, this is only applicable if page_size param is passed")] = None, page_size : Optional[StrictInt] = None, priority : Optional[conlist(StrictInt)] = None, status : Annotated[Optional[conlist(StrictStr)], Field(description="filter by work status")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter by work type")] = None, workflow : Optional[conlist(StrictStr)] = None, **kwargs) -> List[Work]:  # noqa: E501
        """List Works  # noqa: E501

        List Works  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_list(activated_at_after, activated_at_before, application_data, assigned_agent, batch, created_at_after, created_at_before, cut_off_time_after, cut_off_time_before, id, meta_data, name, ordering, page, page_size, priority, status, type, workflow, async_req=True)
        >>> result = thread.get()

        :param activated_at_after:
        :type activated_at_after: datetime
        :param activated_at_before:
        :type activated_at_before: datetime
        :param application_data: filter by application_data query
        :type application_data: str
        :param assigned_agent: filter by work assigned to any agents with ids
        :type assigned_agent: List[float]
        :param batch:
        :type batch: List[str]
        :param created_at_after: filter works created after given timestamp
        :type created_at_after: datetime
        :param created_at_before: filter works created before given timestamp
        :type created_at_before: datetime
        :param cut_off_time_after: filter works cut off time after given timestamp
        :type cut_off_time_after: datetime
        :param cut_off_time_before:
        :type cut_off_time_before: datetime
        :param id: filter works by ids
        :type id: List[float]
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param name: User provided names eg: `mywarehouse_move_2021-05-11T12:05:27Z`
        :type name: List[str]
        :param ordering: Which field to use when ordering the results.
        :type ordering: str
        :param page: Page number, this is only applicable if page_size param is passed
        :type page: int
        :param page_size:
        :type page_size: int
        :param priority:
        :type priority: List[int]
        :param status: filter by work status
        :type status: List[str]
        :param type: filter by work type
        :type type: List[str]
        :param workflow:
        :type workflow: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[Work]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_list_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_list_with_http_info(activated_at_after, activated_at_before, application_data, assigned_agent, batch, created_at_after, created_at_before, cut_off_time_after, cut_off_time_before, id, meta_data, name, ordering, page, page_size, priority, status, type, workflow, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_list_with_http_info(self, activated_at_after : Optional[datetime] = None, activated_at_before : Optional[datetime] = None, application_data : Annotated[Optional[StrictStr], Field(description="filter by application_data query")] = None, assigned_agent : Annotated[Optional[conlist(Union[StrictFloat, StrictInt])], Field(description="filter by work assigned to any agents with ids")] = None, batch : Optional[conlist(StrictStr)] = None, created_at_after : Annotated[Optional[datetime], Field(description="filter works created after given timestamp")] = None, created_at_before : Annotated[Optional[datetime], Field(description="filter works created before given timestamp")] = None, cut_off_time_after : Annotated[Optional[datetime], Field(description="filter works cut off time after given timestamp")] = None, cut_off_time_before : Optional[datetime] = None, id : Annotated[Optional[conlist(Union[StrictFloat, StrictInt])], Field(description="filter works by ids")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="User provided names eg: `mywarehouse_move_2021-05-11T12:05:27Z`")] = None, ordering : Annotated[Optional[StrictStr], Field(description="Which field to use when ordering the results.")] = None, page : Annotated[Optional[StrictInt], Field(description="Page number, this is only applicable if page_size param is passed")] = None, page_size : Optional[StrictInt] = None, priority : Optional[conlist(StrictInt)] = None, status : Annotated[Optional[conlist(StrictStr)], Field(description="filter by work status")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter by work type")] = None, workflow : Optional[conlist(StrictStr)] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """List Works  # noqa: E501

        List Works  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_list_with_http_info(activated_at_after, activated_at_before, application_data, assigned_agent, batch, created_at_after, created_at_before, cut_off_time_after, cut_off_time_before, id, meta_data, name, ordering, page, page_size, priority, status, type, workflow, async_req=True)
        >>> result = thread.get()

        :param activated_at_after:
        :type activated_at_after: datetime
        :param activated_at_before:
        :type activated_at_before: datetime
        :param application_data: filter by application_data query
        :type application_data: str
        :param assigned_agent: filter by work assigned to any agents with ids
        :type assigned_agent: List[float]
        :param batch:
        :type batch: List[str]
        :param created_at_after: filter works created after given timestamp
        :type created_at_after: datetime
        :param created_at_before: filter works created before given timestamp
        :type created_at_before: datetime
        :param cut_off_time_after: filter works cut off time after given timestamp
        :type cut_off_time_after: datetime
        :param cut_off_time_before:
        :type cut_off_time_before: datetime
        :param id: filter works by ids
        :type id: List[float]
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param name: User provided names eg: `mywarehouse_move_2021-05-11T12:05:27Z`
        :type name: List[str]
        :param ordering: Which field to use when ordering the results.
        :type ordering: str
        :param page: Page number, this is only applicable if page_size param is passed
        :type page: int
        :param page_size:
        :type page_size: int
        :param priority:
        :type priority: List[int]
        :param status: filter by work status
        :type status: List[str]
        :param type: filter by work type
        :type type: List[str]
        :param workflow:
        :type workflow: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[Work], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'activated_at_after',
            'activated_at_before',
            'application_data',
            'assigned_agent',
            'batch',
            'created_at_after',
            'created_at_before',
            'cut_off_time_after',
            'cut_off_time_before',
            'id',
            'meta_data',
            'name',
            'ordering',
            'page',
            'page_size',
            'priority',
            'status',
            'type',
            'workflow'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_list" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('activated_at_after') is not None:  # noqa: E501
            if isinstance(_params['activated_at_after'], datetime):
                _query_params.append(('activated_at_after', _params['activated_at_after'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('activated_at_after', _params['activated_at_after']))

        if _params.get('activated_at_before') is not None:  # noqa: E501
            if isinstance(_params['activated_at_before'], datetime):
                _query_params.append(('activated_at_before', _params['activated_at_before'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('activated_at_before', _params['activated_at_before']))

        if _params.get('application_data') is not None:  # noqa: E501
            _query_params.append(('application_data', _params['application_data']))

        if _params.get('assigned_agent') is not None:  # noqa: E501
            _query_params.append(('assigned_agent', _params['assigned_agent']))
            _collection_formats['assigned_agent'] = 'multi'

        if _params.get('batch') is not None:  # noqa: E501
            _query_params.append(('batch', _params['batch']))
            _collection_formats['batch'] = 'multi'

        if _params.get('created_at_after') is not None:  # noqa: E501
            if isinstance(_params['created_at_after'], datetime):
                _query_params.append(('created_at_after', _params['created_at_after'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('created_at_after', _params['created_at_after']))

        if _params.get('created_at_before') is not None:  # noqa: E501
            if isinstance(_params['created_at_before'], datetime):
                _query_params.append(('created_at_before', _params['created_at_before'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('created_at_before', _params['created_at_before']))

        if _params.get('cut_off_time_after') is not None:  # noqa: E501
            if isinstance(_params['cut_off_time_after'], datetime):
                _query_params.append(('cut_off_time_after', _params['cut_off_time_after'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('cut_off_time_after', _params['cut_off_time_after']))

        if _params.get('cut_off_time_before') is not None:  # noqa: E501
            if isinstance(_params['cut_off_time_before'], datetime):
                _query_params.append(('cut_off_time_before', _params['cut_off_time_before'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('cut_off_time_before', _params['cut_off_time_before']))

        if _params.get('id') is not None:  # noqa: E501
            _query_params.append(('id', _params['id']))
            _collection_formats['id'] = 'multi'

        if _params.get('meta_data') is not None:  # noqa: E501
            _query_params.append(('meta_data', _params['meta_data']))

        if _params.get('name') is not None:  # noqa: E501
            _query_params.append(('name', _params['name']))
            _collection_formats['name'] = 'multi'

        if _params.get('ordering') is not None:  # noqa: E501
            _query_params.append(('ordering', _params['ordering']))

        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('page_size') is not None:  # noqa: E501
            _query_params.append(('page_size', _params['page_size']))

        if _params.get('priority') is not None:  # noqa: E501
            _query_params.append(('priority', _params['priority']))
            _collection_formats['priority'] = 'multi'

        if _params.get('status') is not None:  # noqa: E501
            _query_params.append(('status', _params['status']))
            _collection_formats['status'] = 'multi'

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        if _params.get('workflow') is not None:  # noqa: E501
            _query_params.append(('workflow', _params['workflow']))
            _collection_formats['workflow'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "List[Work]",
        }

        return self.api_client.call_api(
            '/v2/work', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_partial_update(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], patched_work_external_update_request : Optional[PatchedWorkExternalUpdateRequest] = None, **kwargs) -> WorkExternalUpdate:  # noqa: E501
        """Partially Update Work  # noqa: E501

        Partially Update Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_partial_update(id, patched_work_external_update_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param patched_work_external_update_request:
        :type patched_work_external_update_request: PatchedWorkExternalUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: WorkExternalUpdate
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_partial_update_with_http_info(id, patched_work_external_update_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_partial_update_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], patched_work_external_update_request : Optional[PatchedWorkExternalUpdateRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Partially Update Work  # noqa: E501

        Partially Update Work  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_partial_update_with_http_info(id, patched_work_external_update_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param patched_work_external_update_request:
        :type patched_work_external_update_request: PatchedWorkExternalUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(WorkExternalUpdate, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id',
            'patched_work_external_update_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_work_external_update_request'] is not None:
            _body_params = _params['patched_work_external_update_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "WorkExternalUpdate",
        }

        return self.api_client.call_api(
            '/v2/work/{id}', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_retrieve(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], **kwargs) -> Work:  # noqa: E501
        """Get A Work information  # noqa: E501

        Get A Work information  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_retrieve(id, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Work
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_retrieve_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_retrieve_with_http_info(id, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_retrieve_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this work base.")], **kwargs) -> ApiResponse:  # noqa: E501
        """Get A Work information  # noqa: E501

        Get A Work information  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_retrieve_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this work base. (required)
        :type id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Work, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_retrieve" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "Work",
        }

        return self.api_client.call_api(
            '/v2/work/{id}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v2_work_summary_retrieve(self, end_date : Optional[datetime] = None, group_by : Optional[StrictStr] = None, interval : Annotated[Optional[StrictStr], Field(description="* `daily` - daily * `weekly` - weekly * `monthly` - monthly * `annually` - annually")] = None, start_date : Optional[datetime] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="Type of the work  * `CHARGE` - Charge * `EXPLORE` - Explore * `PAYLOAD_MOVE` - Payload Move * `ADHOC_MOVE_POSITION` - Adhoc Move Position * `ADHOC_MOVE_REGION` - Adhoc Move Region * `ADHOC_MOVE_SPOT` - Adhoc Move Spot")] = None, workflow : Optional[StrictStr] = None, **kwargs) -> Work:  # noqa: E501
        """Get Work Summary  # noqa: E501

        Get Work Summary  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_summary_retrieve(end_date, group_by, interval, start_date, type, workflow, async_req=True)
        >>> result = thread.get()

        :param end_date:
        :type end_date: datetime
        :param group_by:
        :type group_by: str
        :param interval: * `daily` - daily * `weekly` - weekly * `monthly` - monthly * `annually` - annually
        :type interval: str
        :param start_date:
        :type start_date: datetime
        :param type: Type of the work  * `CHARGE` - Charge * `EXPLORE` - Explore * `PAYLOAD_MOVE` - Payload Move * `ADHOC_MOVE_POSITION` - Adhoc Move Position * `ADHOC_MOVE_REGION` - Adhoc Move Region * `ADHOC_MOVE_SPOT` - Adhoc Move Spot
        :type type: List[str]
        :param workflow:
        :type workflow: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Work
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v2_work_summary_retrieve_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v2_work_summary_retrieve_with_http_info(end_date, group_by, interval, start_date, type, workflow, **kwargs)  # noqa: E501

    @validate_arguments
    def v2_work_summary_retrieve_with_http_info(self, end_date : Optional[datetime] = None, group_by : Optional[StrictStr] = None, interval : Annotated[Optional[StrictStr], Field(description="* `daily` - daily * `weekly` - weekly * `monthly` - monthly * `annually` - annually")] = None, start_date : Optional[datetime] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="Type of the work  * `CHARGE` - Charge * `EXPLORE` - Explore * `PAYLOAD_MOVE` - Payload Move * `ADHOC_MOVE_POSITION` - Adhoc Move Position * `ADHOC_MOVE_REGION` - Adhoc Move Region * `ADHOC_MOVE_SPOT` - Adhoc Move Spot")] = None, workflow : Optional[StrictStr] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """Get Work Summary  # noqa: E501

        Get Work Summary  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v2_work_summary_retrieve_with_http_info(end_date, group_by, interval, start_date, type, workflow, async_req=True)
        >>> result = thread.get()

        :param end_date:
        :type end_date: datetime
        :param group_by:
        :type group_by: str
        :param interval: * `daily` - daily * `weekly` - weekly * `monthly` - monthly * `annually` - annually
        :type interval: str
        :param start_date:
        :type start_date: datetime
        :param type: Type of the work  * `CHARGE` - Charge * `EXPLORE` - Explore * `PAYLOAD_MOVE` - Payload Move * `ADHOC_MOVE_POSITION` - Adhoc Move Position * `ADHOC_MOVE_REGION` - Adhoc Move Region * `ADHOC_MOVE_SPOT` - Adhoc Move Spot
        :type type: List[str]
        :param workflow:
        :type workflow: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Work, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'end_date',
            'group_by',
            'interval',
            'start_date',
            'type',
            'workflow'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v2_work_summary_retrieve" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('end_date') is not None:  # noqa: E501
            if isinstance(_params['end_date'], datetime):
                _query_params.append(('end_date', _params['end_date'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('end_date', _params['end_date']))

        if _params.get('group_by') is not None:  # noqa: E501
            _query_params.append(('group_by', _params['group_by']))

        if _params.get('interval') is not None:  # noqa: E501
            _query_params.append(('interval', _params['interval']))

        if _params.get('start_date') is not None:  # noqa: E501
            if isinstance(_params['start_date'], datetime):
                _query_params.append(('start_date', _params['start_date'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('start_date', _params['start_date']))

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        if _params.get('workflow') is not None:  # noqa: E501
            _query_params.append(('workflow', _params['workflow']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "Work",
        }

        return self.api_client.call_api(
            '/v2/work/summary', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
