# coding: utf-8

"""
    IO-AMR GWM API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

    The version of the OpenAPI document: devel
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictBool, StrictInt, StrictStr, conlist

from typing import List, Optional

from gwm_client.models.node import Node
from gwm_client.models.node_db_json import NodeDbJson
from gwm_client.models.node_request import NodeRequest
from gwm_client.models.patched_node_request import PatchedNodeRequest

from gwm_client.api_client import ApiClient
from gwm_client.api_response import ApiResponse
from gwm_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class MapsAppNodesApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def v1_map_node_bulk_patch_update_partial_update(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], patched_node_request : conlist(PatchedNodeRequest), **kwargs) -> None:  # noqa: E501
        """Patch Map Nodes  # noqa: E501

        Patch Map Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_bulk_patch_update_partial_update(map_id_or_name, patched_node_request, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param patched_node_request: (required)
        :type patched_node_request: List[PatchedNodeRequest]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_bulk_patch_update_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_bulk_patch_update_partial_update_with_http_info(map_id_or_name, patched_node_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_bulk_patch_update_partial_update_with_http_info(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], patched_node_request : conlist(PatchedNodeRequest), **kwargs) -> ApiResponse:  # noqa: E501
        """Patch Map Nodes  # noqa: E501

        Patch Map Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_bulk_patch_update_partial_update_with_http_info(map_id_or_name, patched_node_request, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param patched_node_request: (required)
        :type patched_node_request: List[PatchedNodeRequest]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'map_id_or_name',
            'patched_node_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_bulk_patch_update_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_node_request'] is not None:
            _body_params = _params['patched_node_request']

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/bulk_patch_update', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_count_retrieve(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], edge : Optional[StrictStr] = None, intersects_region : Optional[StrictStr] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined node type")] = None, **kwargs) -> int:  # noqa: E501
        """v1_map_node_count_retrieve  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_count_retrieve(map_id_or_name, edge, intersects_region, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param edge:
        :type edge: str
        :param intersects_region:
        :type intersects_region: str
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined node type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: int
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_count_retrieve_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_count_retrieve_with_http_info(map_id_or_name, edge, intersects_region, position, type, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_count_retrieve_with_http_info(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], edge : Optional[StrictStr] = None, intersects_region : Optional[StrictStr] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined node type")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_count_retrieve  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_count_retrieve_with_http_info(map_id_or_name, edge, intersects_region, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param edge:
        :type edge: str
        :param intersects_region:
        :type intersects_region: str
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined node type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(int, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'map_id_or_name',
            'edge',
            'intersects_region',
            'position',
            'type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_count_retrieve" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        if _params.get('edge') is not None:  # noqa: E501
            _query_params.append(('edge', _params['edge']))

        if _params.get('intersects_region') is not None:  # noqa: E501
            _query_params.append(('intersects_region', _params['intersects_region']))

        if _params.get('position') is not None:  # noqa: E501
            _query_params.append(('position', _params['position']))
            _collection_formats['position'] = 'csv'

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "int",
        }

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/count', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_create(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], node_request : conlist(NodeRequest), edge : Optional[StrictStr] = None, intersects_region : Optional[StrictStr] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined node type")] = None, **kwargs) -> List[Node]:  # noqa: E501
        """v1_map_node_create  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_create(map_id_or_name, node_request, edge, intersects_region, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param node_request: (required)
        :type node_request: List[NodeRequest]
        :param edge:
        :type edge: str
        :param intersects_region:
        :type intersects_region: str
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined node type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[Node]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_create_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_create_with_http_info(map_id_or_name, node_request, edge, intersects_region, position, type, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_create_with_http_info(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], node_request : conlist(NodeRequest), edge : Optional[StrictStr] = None, intersects_region : Optional[StrictStr] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined node type")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_create  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_create_with_http_info(map_id_or_name, node_request, edge, intersects_region, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param node_request: (required)
        :type node_request: List[NodeRequest]
        :param edge:
        :type edge: str
        :param intersects_region:
        :type intersects_region: str
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined node type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[Node], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'map_id_or_name',
            'node_request',
            'edge',
            'intersects_region',
            'position',
            'type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_create" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        if _params.get('edge') is not None:  # noqa: E501
            _query_params.append(('edge', _params['edge']))

        if _params.get('intersects_region') is not None:  # noqa: E501
            _query_params.append(('intersects_region', _params['intersects_region']))

        if _params.get('position') is not None:  # noqa: E501
            _query_params.append(('position', _params['position']))
            _collection_formats['position'] = 'csv'

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['node_request'] is not None:
            _body_params = _params['node_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '201': "List[Node]",
        }

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_delete_destroy(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], force : Annotated[Optional[StrictBool], Field(description="force clear all resources, including preserved ones")] = None, **kwargs) -> None:  # noqa: E501
        """v1_map_node_delete_destroy  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_delete_destroy(map_id_or_name, force, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param force: force clear all resources, including preserved ones
        :type force: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_delete_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_delete_destroy_with_http_info(map_id_or_name, force, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_delete_destroy_with_http_info(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], force : Annotated[Optional[StrictBool], Field(description="force clear all resources, including preserved ones")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_delete_destroy  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_delete_destroy_with_http_info(map_id_or_name, force, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param force: force clear all resources, including preserved ones
        :type force: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'map_id_or_name',
            'force'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_delete_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        if _params.get('force') is not None:  # noqa: E501
            _query_params.append(('force', _params['force']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/delete', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_destroy(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], **kwargs) -> None:  # noqa: E501
        """v1_map_node_destroy  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_destroy(id, map_id_or_name, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_destroy_with_http_info(id, map_id_or_name, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_destroy_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_destroy  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_destroy_with_http_info(id, map_id_or_name, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'id',
            'map_id_or_name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']

        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/{id}', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_list(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], edge : Annotated[Optional[StrictInt], Field(description="filter nodes which touch edge with id")] = None, intersects_region : Annotated[Optional[StrictStr], Field(description="filter nodes which are contained within region with name or id")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, position : Annotated[Optional[StrictStr], Field(description="x,y coordinate of node")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter regions by type(s)")] = None, **kwargs) -> List[NodeDbJson]:  # noqa: E501
        """v1_map_node_list  # noqa: E501

        List Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_list(map_id_or_name, edge, intersects_region, meta_data, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param edge: filter nodes which touch edge with id
        :type edge: int
        :param intersects_region: filter nodes which are contained within region with name or id
        :type intersects_region: str
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param position: x,y coordinate of node
        :type position: str
        :param type: filter regions by type(s)
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[NodeDbJson]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_list_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_list_with_http_info(map_id_or_name, edge, intersects_region, meta_data, position, type, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_list_with_http_info(self, map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], edge : Annotated[Optional[StrictInt], Field(description="filter nodes which touch edge with id")] = None, intersects_region : Annotated[Optional[StrictStr], Field(description="filter nodes which are contained within region with name or id")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, position : Annotated[Optional[StrictStr], Field(description="x,y coordinate of node")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter regions by type(s)")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_list  # noqa: E501

        List Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_list_with_http_info(map_id_or_name, edge, intersects_region, meta_data, position, type, async_req=True)
        >>> result = thread.get()

        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param edge: filter nodes which touch edge with id
        :type edge: int
        :param intersects_region: filter nodes which are contained within region with name or id
        :type intersects_region: str
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param position: x,y coordinate of node
        :type position: str
        :param type: filter regions by type(s)
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[NodeDbJson], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'map_id_or_name',
            'edge',
            'intersects_region',
            'meta_data',
            'position',
            'type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_list" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        if _params.get('edge') is not None:  # noqa: E501
            _query_params.append(('edge', _params['edge']))

        if _params.get('intersects_region') is not None:  # noqa: E501
            _query_params.append(('intersects_region', _params['intersects_region']))

        if _params.get('meta_data') is not None:  # noqa: E501
            _query_params.append(('meta_data', _params['meta_data']))

        if _params.get('position') is not None:  # noqa: E501
            _query_params.append(('position', _params['position']))

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "List[NodeDbJson]",
        }

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_partial_update(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], patched_node_request : Optional[PatchedNodeRequest] = None, **kwargs) -> Node:  # noqa: E501
        """v1_map_node_partial_update  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_partial_update(id, map_id_or_name, patched_node_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param patched_node_request:
        :type patched_node_request: PatchedNodeRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Node
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_partial_update_with_http_info(id, map_id_or_name, patched_node_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_partial_update_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], patched_node_request : Optional[PatchedNodeRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_partial_update  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_partial_update_with_http_info(id, map_id_or_name, patched_node_request, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param patched_node_request:
        :type patched_node_request: PatchedNodeRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Node, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id',
            'map_id_or_name',
            'patched_node_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']

        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_node_request'] is not None:
            _body_params = _params['patched_node_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "Node",
        }

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/{id}', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_map_node_retrieve(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], **kwargs) -> Node:  # noqa: E501
        """v1_map_node_retrieve  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_retrieve(id, map_id_or_name, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Node
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_map_node_retrieve_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_map_node_retrieve_with_http_info(id, map_id_or_name, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_map_node_retrieve_with_http_info(self, id : Annotated[StrictInt, Field(..., description="A unique integer value identifying this node.")], map_id_or_name : Annotated[StrictStr, Field(..., description="MAP ID or Name")], **kwargs) -> ApiResponse:  # noqa: E501
        """v1_map_node_retrieve  # noqa: E501

        Manage Routing Graph Nodes  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_map_node_retrieve_with_http_info(id, map_id_or_name, async_req=True)
        >>> result = thread.get()

        :param id: A unique integer value identifying this node. (required)
        :type id: int
        :param map_id_or_name: MAP ID or Name (required)
        :type map_id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Node, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id',
            'map_id_or_name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_map_node_retrieve" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id']:
            _path_params['id'] = _params['id']

        if _params['map_id_or_name']:
            _path_params['map_id_or_name'] = _params['map_id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "Node",
        }

        return self.api_client.call_api(
            '/v1/map/{map_id_or_name}/node/{id}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
