# coding: utf-8

"""
    IO-AMR GWM API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

    The version of the OpenAPI document: devel
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictBool, StrictInt, StrictStr, conint, conlist

from typing import List, Optional

from gwm_client.models.patched_spot_annotation_update_request import PatchedSpotAnnotationUpdateRequest
from gwm_client.models.spot_annotation import SpotAnnotation
from gwm_client.models.spot_annotation_db_json import SpotAnnotationDbJson
from gwm_client.models.spot_annotation_request import SpotAnnotationRequest
from gwm_client.models.spot_annotation_update import SpotAnnotationUpdate
from gwm_client.models.v1_containers_create_descriptor_parameter_inner import V1ContainersCreateDescriptorParameterInner

from gwm_client.api_client import ApiClient
from gwm_client.api_response import ApiResponse
from gwm_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class MapsAppSpotsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def v1_spot_bulk_patch_update_partial_update(self, patched_spot_annotation_update_request : conlist(PatchedSpotAnnotationUpdateRequest), **kwargs) -> None:  # noqa: E501
        """Patch Spots  # noqa: E501

        Patch Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_bulk_patch_update_partial_update(patched_spot_annotation_update_request, async_req=True)
        >>> result = thread.get()

        :param patched_spot_annotation_update_request: (required)
        :type patched_spot_annotation_update_request: List[PatchedSpotAnnotationUpdateRequest]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_bulk_patch_update_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_bulk_patch_update_partial_update_with_http_info(patched_spot_annotation_update_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_bulk_patch_update_partial_update_with_http_info(self, patched_spot_annotation_update_request : conlist(PatchedSpotAnnotationUpdateRequest), **kwargs) -> ApiResponse:  # noqa: E501
        """Patch Spots  # noqa: E501

        Patch Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_bulk_patch_update_partial_update_with_http_info(patched_spot_annotation_update_request, async_req=True)
        >>> result = thread.get()

        :param patched_spot_annotation_update_request: (required)
        :type patched_spot_annotation_update_request: List[PatchedSpotAnnotationUpdateRequest]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'patched_spot_annotation_update_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_bulk_patch_update_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_spot_annotation_update_request'] is not None:
            _body_params = _params['patched_spot_annotation_update_request']

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/spot/bulk_patch_update', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_create(self, spot_annotation_request : conlist(SpotAnnotationRequest), allocatable : Optional[StrictBool] = None, external_device : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, id : Annotated[Optional[conlist(conint(strict=True, le=9007199254740991, ge=1))], Field(description="user defined `id` of this object. Must be unique in the site or map (for nodes and edges); Default random 53 bit integer")] = None, intersects_region : Optional[StrictStr] = None, map : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="user defined `name` of this object. Must be unique in the site or map (for nodes and edges)")] = None, node : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined spot type")] = None, **kwargs) -> List[SpotAnnotation]:  # noqa: E501
        """v1_spot_create  # noqa: E501

        Manage Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_create(spot_annotation_request, allocatable, external_device, id, intersects_region, map, name, node, position, type, async_req=True)
        >>> result = thread.get()

        :param spot_annotation_request: (required)
        :type spot_annotation_request: List[SpotAnnotationRequest]
        :param allocatable:
        :type allocatable: bool
        :param external_device:
        :type external_device: List[V1ContainersCreateDescriptorParameterInner]
        :param id: user defined `id` of this object. Must be unique in the site or map (for nodes and edges); Default random 53 bit integer
        :type id: List[int]
        :param intersects_region:
        :type intersects_region: str
        :param map:
        :type map: List[V1ContainersCreateDescriptorParameterInner]
        :param name: user defined `name` of this object. Must be unique in the site or map (for nodes and edges)
        :type name: List[str]
        :param node:
        :type node: List[V1ContainersCreateDescriptorParameterInner]
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined spot type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[SpotAnnotation]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_create_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_create_with_http_info(spot_annotation_request, allocatable, external_device, id, intersects_region, map, name, node, position, type, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_create_with_http_info(self, spot_annotation_request : conlist(SpotAnnotationRequest), allocatable : Optional[StrictBool] = None, external_device : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, id : Annotated[Optional[conlist(conint(strict=True, le=9007199254740991, ge=1))], Field(description="user defined `id` of this object. Must be unique in the site or map (for nodes and edges); Default random 53 bit integer")] = None, intersects_region : Optional[StrictStr] = None, map : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="user defined `name` of this object. Must be unique in the site or map (for nodes and edges)")] = None, node : Optional[conlist(V1ContainersCreateDescriptorParameterInner)] = None, position : Annotated[Optional[conlist(StrictStr)], Field(description="format: x,y,floor")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="User defined spot type")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_create  # noqa: E501

        Manage Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_create_with_http_info(spot_annotation_request, allocatable, external_device, id, intersects_region, map, name, node, position, type, async_req=True)
        >>> result = thread.get()

        :param spot_annotation_request: (required)
        :type spot_annotation_request: List[SpotAnnotationRequest]
        :param allocatable:
        :type allocatable: bool
        :param external_device:
        :type external_device: List[V1ContainersCreateDescriptorParameterInner]
        :param id: user defined `id` of this object. Must be unique in the site or map (for nodes and edges); Default random 53 bit integer
        :type id: List[int]
        :param intersects_region:
        :type intersects_region: str
        :param map:
        :type map: List[V1ContainersCreateDescriptorParameterInner]
        :param name: user defined `name` of this object. Must be unique in the site or map (for nodes and edges)
        :type name: List[str]
        :param node:
        :type node: List[V1ContainersCreateDescriptorParameterInner]
        :param position: format: x,y,floor
        :type position: List[str]
        :param type: User defined spot type
        :type type: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[SpotAnnotation], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'spot_annotation_request',
            'allocatable',
            'external_device',
            'id',
            'intersects_region',
            'map',
            'name',
            'node',
            'position',
            'type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_create" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('allocatable') is not None:  # noqa: E501
            _query_params.append(('allocatable', _params['allocatable']))

        if _params.get('external_device') is not None:  # noqa: E501
            _query_params.append(('external_device', _params['external_device']))
            _collection_formats['external_device'] = 'multi'

        if _params.get('id') is not None:  # noqa: E501
            _query_params.append(('id', _params['id']))
            _collection_formats['id'] = 'multi'

        if _params.get('intersects_region') is not None:  # noqa: E501
            _query_params.append(('intersects_region', _params['intersects_region']))

        if _params.get('map') is not None:  # noqa: E501
            _query_params.append(('map', _params['map']))
            _collection_formats['map'] = 'multi'

        if _params.get('name') is not None:  # noqa: E501
            _query_params.append(('name', _params['name']))
            _collection_formats['name'] = 'multi'

        if _params.get('node') is not None:  # noqa: E501
            _query_params.append(('node', _params['node']))
            _collection_formats['node'] = 'multi'

        if _params.get('position') is not None:  # noqa: E501
            _query_params.append(('position', _params['position']))
            _collection_formats['position'] = 'csv'

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['spot_annotation_request'] is not None:
            _body_params = _params['spot_annotation_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '201': "List[SpotAnnotation]",
        }

        return self.api_client.call_api(
            '/v1/spot', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_delete_destroy(self, map_id : StrictStr, force : Annotated[Optional[StrictBool], Field(description="force clear all resources, including preserved ones")] = None, type : Annotated[Optional[StrictStr], Field(description="delete resources by type")] = None, **kwargs) -> None:  # noqa: E501
        """v1_spot_delete_destroy  # noqa: E501

        Manage Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_delete_destroy(map_id, force, type, async_req=True)
        >>> result = thread.get()

        :param map_id: (required)
        :type map_id: str
        :param force: force clear all resources, including preserved ones
        :type force: bool
        :param type: delete resources by type
        :type type: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_delete_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_delete_destroy_with_http_info(map_id, force, type, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_delete_destroy_with_http_info(self, map_id : StrictStr, force : Annotated[Optional[StrictBool], Field(description="force clear all resources, including preserved ones")] = None, type : Annotated[Optional[StrictStr], Field(description="delete resources by type")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_delete_destroy  # noqa: E501

        Manage Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_delete_destroy_with_http_info(map_id, force, type, async_req=True)
        >>> result = thread.get()

        :param map_id: (required)
        :type map_id: str
        :param force: force clear all resources, including preserved ones
        :type force: bool
        :param type: delete resources by type
        :type type: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'map_id',
            'force',
            'type'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_delete_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('force') is not None:  # noqa: E501
            _query_params.append(('force', _params['force']))

        if _params.get('map_id') is not None:  # noqa: E501
            _query_params.append(('map_id', _params['map_id']))

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/spot/delete', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_destroy(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], **kwargs) -> None:  # noqa: E501
        """v1_spot_destroy  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_destroy(id_or_name, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_destroy_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_destroy_with_http_info(id_or_name, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_destroy_with_http_info(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_destroy  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_destroy_with_http_info(id_or_name, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = [
            'id_or_name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_destroy" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id_or_name']:
            _path_params['id_or_name'] = _params['id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            '/v1/spot/{id_or_name}', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_list(self, allocatable : Annotated[Optional[StrictBool], Field(description="Filter only allocatable spots")] = None, external_device : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots relative to external devices identified by their name")] = None, id : Annotated[Optional[conlist(StrictInt)], Field(description="filter spot with id")] = None, intersects_region : Annotated[Optional[StrictStr], Field(description="filter spots which are contained within region with id")] = None, map : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by maps")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by name(s)")] = None, node : Annotated[Optional[StrictInt], Field(description="filter spots by node id")] = None, position : Annotated[Optional[StrictStr], Field(description="x,y coordinate of spot")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by type(s)")] = None, with_region_ids : Annotated[Optional[StrictBool], Field(description="add related region ids")] = None, **kwargs) -> List[SpotAnnotationDbJson]:  # noqa: E501
        """v1_spot_list  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_list(allocatable, external_device, id, intersects_region, map, meta_data, name, node, position, type, with_region_ids, async_req=True)
        >>> result = thread.get()

        :param allocatable: Filter only allocatable spots
        :type allocatable: bool
        :param external_device: filter spots relative to external devices identified by their name
        :type external_device: List[str]
        :param id: filter spot with id
        :type id: List[int]
        :param intersects_region: filter spots which are contained within region with id
        :type intersects_region: str
        :param map: filter spots by maps
        :type map: List[str]
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param name: filter spots by name(s)
        :type name: List[str]
        :param node: filter spots by node id
        :type node: int
        :param position: x,y coordinate of spot
        :type position: str
        :param type: filter spots by type(s)
        :type type: List[str]
        :param with_region_ids: add related region ids
        :type with_region_ids: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[SpotAnnotationDbJson]
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_list_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_list_with_http_info(allocatable, external_device, id, intersects_region, map, meta_data, name, node, position, type, with_region_ids, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_list_with_http_info(self, allocatable : Annotated[Optional[StrictBool], Field(description="Filter only allocatable spots")] = None, external_device : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots relative to external devices identified by their name")] = None, id : Annotated[Optional[conlist(StrictInt)], Field(description="filter spot with id")] = None, intersects_region : Annotated[Optional[StrictStr], Field(description="filter spots which are contained within region with id")] = None, map : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by maps")] = None, meta_data : Annotated[Optional[StrictStr], Field(description="filter by meta_data query")] = None, name : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by name(s)")] = None, node : Annotated[Optional[StrictInt], Field(description="filter spots by node id")] = None, position : Annotated[Optional[StrictStr], Field(description="x,y coordinate of spot")] = None, type : Annotated[Optional[conlist(StrictStr)], Field(description="filter spots by type(s)")] = None, with_region_ids : Annotated[Optional[StrictBool], Field(description="add related region ids")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_list  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_list_with_http_info(allocatable, external_device, id, intersects_region, map, meta_data, name, node, position, type, with_region_ids, async_req=True)
        >>> result = thread.get()

        :param allocatable: Filter only allocatable spots
        :type allocatable: bool
        :param external_device: filter spots relative to external devices identified by their name
        :type external_device: List[str]
        :param id: filter spot with id
        :type id: List[int]
        :param intersects_region: filter spots which are contained within region with id
        :type intersects_region: str
        :param map: filter spots by maps
        :type map: List[str]
        :param meta_data: filter by meta_data query
        :type meta_data: str
        :param name: filter spots by name(s)
        :type name: List[str]
        :param node: filter spots by node id
        :type node: int
        :param position: x,y coordinate of spot
        :type position: str
        :param type: filter spots by type(s)
        :type type: List[str]
        :param with_region_ids: add related region ids
        :type with_region_ids: bool
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[SpotAnnotationDbJson], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'allocatable',
            'external_device',
            'id',
            'intersects_region',
            'map',
            'meta_data',
            'name',
            'node',
            'position',
            'type',
            'with_region_ids'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_list" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('allocatable') is not None:  # noqa: E501
            _query_params.append(('allocatable', _params['allocatable']))

        if _params.get('external_device') is not None:  # noqa: E501
            _query_params.append(('external_device', _params['external_device']))
            _collection_formats['external_device'] = 'multi'

        if _params.get('id') is not None:  # noqa: E501
            _query_params.append(('id', _params['id']))
            _collection_formats['id'] = 'multi'

        if _params.get('intersects_region') is not None:  # noqa: E501
            _query_params.append(('intersects_region', _params['intersects_region']))

        if _params.get('map') is not None:  # noqa: E501
            _query_params.append(('map', _params['map']))
            _collection_formats['map'] = 'multi'

        if _params.get('meta_data') is not None:  # noqa: E501
            _query_params.append(('meta_data', _params['meta_data']))

        if _params.get('name') is not None:  # noqa: E501
            _query_params.append(('name', _params['name']))
            _collection_formats['name'] = 'multi'

        if _params.get('node') is not None:  # noqa: E501
            _query_params.append(('node', _params['node']))

        if _params.get('position') is not None:  # noqa: E501
            _query_params.append(('position', _params['position']))

        if _params.get('type') is not None:  # noqa: E501
            _query_params.append(('type', _params['type']))
            _collection_formats['type'] = 'multi'

        if _params.get('with_region_ids') is not None:  # noqa: E501
            _query_params.append(('with_region_ids', _params['with_region_ids']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "List[SpotAnnotationDbJson]",
        }

        return self.api_client.call_api(
            '/v1/spot', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_partial_update(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], patched_spot_annotation_update_request : Optional[PatchedSpotAnnotationUpdateRequest] = None, **kwargs) -> SpotAnnotationUpdate:  # noqa: E501
        """v1_spot_partial_update  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_partial_update(id_or_name, patched_spot_annotation_update_request, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param patched_spot_annotation_update_request:
        :type patched_spot_annotation_update_request: PatchedSpotAnnotationUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: SpotAnnotationUpdate
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_partial_update_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_partial_update_with_http_info(id_or_name, patched_spot_annotation_update_request, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_partial_update_with_http_info(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], patched_spot_annotation_update_request : Optional[PatchedSpotAnnotationUpdateRequest] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_partial_update  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_partial_update_with_http_info(id_or_name, patched_spot_annotation_update_request, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param patched_spot_annotation_update_request:
        :type patched_spot_annotation_update_request: PatchedSpotAnnotationUpdateRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(SpotAnnotationUpdate, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id_or_name',
            'patched_spot_annotation_update_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_partial_update" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id_or_name']:
            _path_params['id_or_name'] = _params['id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['patched_spot_annotation_update_request'] is not None:
            _body_params = _params['patched_spot_annotation_update_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "SpotAnnotationUpdate",
        }

        return self.api_client.call_api(
            '/v1/spot/{id_or_name}', 'PATCH',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def v1_spot_retrieve(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], **kwargs) -> SpotAnnotation:  # noqa: E501
        """v1_spot_retrieve  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_retrieve(id_or_name, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: SpotAnnotation
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the v1_spot_retrieve_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.v1_spot_retrieve_with_http_info(id_or_name, **kwargs)  # noqa: E501

    @validate_arguments
    def v1_spot_retrieve_with_http_info(self, id_or_name : Annotated[StrictStr, Field(..., description="Spot ID or Name.")], **kwargs) -> ApiResponse:  # noqa: E501
        """v1_spot_retrieve  # noqa: E501

        List Spots  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.v1_spot_retrieve_with_http_info(id_or_name, async_req=True)
        >>> result = thread.get()

        :param id_or_name: Spot ID or Name. (required)
        :type id_or_name: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(SpotAnnotation, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'id_or_name'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v1_spot_retrieve" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['id_or_name']:
            _path_params['id_or_name'] = _params['id_or_name']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['tokenAuth']  # noqa: E501

        _response_types_map = {
            '200': "SpotAnnotation",
        }

        return self.api_client.call_api(
            '/v1/spot/{id_or_name}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
